Repository eclipse-openj9/openj9-omr, pull requests merged in 2020-06, with the labels that each got.

#61 (0.21.0) AArch64: Create new instruction classes to handle alias instructions
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/OMRInstructionKindEnum.hpp
  compiler/ras/Debug.hpp
Labels: arch:aarch64, comp:compiler

#62 (0.21.0) Implement ARM64Trg1Src2ZeroInstruction
  compiler/aarch64/codegen/ARM64BinaryEncoding.cpp
  compiler/aarch64/codegen/ARM64Debug.cpp
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/GenerateInstructions.cpp
  compiler/aarch64/codegen/OMRInstructionKindEnum.hpp
  compiler/ras/Debug.hpp
Labels: arch:aarch64, comp:jit

#63 (0.21.0) get_processor_info OSX procInfoArray[0].online should be ONLINE
  port/unix/omrsysinfo.c
Labels: comp:port

#66 (0.21.0) Fixed imm value for addis and lis
  compiler/p/codegen/ControlFlowEvaluator.cpp
  compiler/p/codegen/FPTreeEvaluator.cpp
  compiler/p/codegen/OMRCodeGenerator.cpp
  compiler/p/codegen/OMRMemoryReference.cpp
  compiler/p/codegen/OMRTreeEvaluator.cpp
Labels: first contribution

#67 Allow memory region to be supplied for building DefiningMaps
  compiler/compile/OSRData.cpp
  compiler/compile/OSRData.hpp
Labels: comp:compiler, first contribution

#65 (0.21.0) Disable cpu assert tests for out-of-process compilations
  compiler/compile/OMRCompilation.hpp
  compiler/x/codegen/FPTreeEvaluator.cpp
  compiler/x/codegen/IntegerMultiplyDecomposer.cpp
  compiler/x/codegen/OMRCodeGenerator.cpp
  compiler/x/codegen/OMRTreeEvaluator.cpp
  compiler/x/codegen/OMRX86Instruction.cpp
  compiler/x/codegen/X86BinaryEncoding.cpp
  compiler/x/codegen/X86Ops_inlines.hpp
Labels: arch:x86, comp:compiler

#70 (0.21.0) AArch64: Add NULL dependencies for volatile registers
  compiler/aarch64/codegen/ARM64SystemLinkage.cpp
  compiler/aarch64/codegen/RealRegisterEnum.hpp
Labels: arch:aarch64, comp:compiler

#68 (0.21.0) AArch64: Enable Recompilation
  compiler/aarch64/codegen/ARM64Instruction.hpp
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
  compiler/control/OMROptions.cpp
Labels: arch:aarch64, comp:compiler
