Repository eclipse-openj9/openj9-omr, pull requests merged in 2023-03, with the labels that each got.

#162 Ensure _hasLogFile is set when option set specifies a log file 0.38
  compiler/control/OMROptions.cpp
Labels: comp:compiler, criu

#163 (0.38) Clear LOA remainder flag
  gc/base/standard/ParallelGlobalGC.cpp
  gc/base/standard/Scavenger.cpp
Labels: comp:gc

#167 [0.37.0] Ensure _suppressEA option field is initialized to NULL
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#166 [0.38.0] Ensure _suppressEA option field is initialized to NULL
  compiler/control/OMROptions.hpp
Labels: comp:compiler

#168 (0.37.0) AArch64: Implement b2sEvaluator
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:jit, arch:aarch64

#169 (0.38.0) AArch64: Implement b2sEvaluator
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:jit, arch:aarch64
