Repository eclipse-openj9/openj9-omr, pull requests merged in 2023-06, with the labels that each got.

#174 (0.40.0) x86: Fix redundant compare elimination
  compiler/x/codegen/ControlFlowEvaluator.cpp
  compiler/x/codegen/X86Ops.ins
Labels: comp:jit

#176 (0.40.0) AArch64: Fix loadAddressConstantInSnippet()
  compiler/aarch64/codegen/OMRTreeEvaluator.cpp
Labels: comp:jit, arch:aarch64

#177 (0.40.0) Linux: Use clock_gettime(CLOCK_MONOTONIC_RAW) for omrtime_hires_clock()
  port/unix/omrtime.c
Labels: comp:port

#181 (0.40.0) Linux PPC64: Use clock_gettime() for omrtime_hires_clock()
  port/linuxppc64/omrtime.c
Labels: comp:port
