Repository eclipse-openj9/openj9-omr, pull requests merged in 2025-09, with the labels that each got.

#248 (0.56) AArch64: Move unaligned offset to index register
  compiler/aarch64/codegen/OMRMemoryReference.cpp
Labels: comp:compiler, arch:aarch64

#250 0.56: Add a couple of border frequency threshold options
  compiler/control/OMROptions.cpp
  compiler/control/OMROptions.hpp
Labels: comp:jit

#255 (0.55) AArch64: Disable ArrayTranslateTRTO/TRTO255
  compiler/aarch64/codegen/OMRCodeGenerator.cpp
Labels: comp:jit, arch:aarch64
